.req-not-met {
    color: red;
    padding: inherit;
    text-align: center;
}

.req-met {
    color: green;
}

.auth-form-container {
    max-width: 300px;
    margin: 0 auto;
}

.pass-req-list {
    list-style-type: none;
}

.input-warning {
    padding: inherit;
    text-align: center;
}
