.App {
  text-align: center;
}

h4 {
  overflow-wrap: anywhere;
}

.top-btn {
  margin: 5px;
}

.modal.show .modal-dialog {
  width: fit-content;
  margin: auto;
}

.bg-dark {
  background: linear-gradient(0deg, rgba(48, 48, 48, 1) 0%, rgba(79, 79, 79, 1) 100%);
}

.navbar-dark .navbar-nav .nav-link {
  color: #d2d2d2;
}

.error-modal {
  min-width: auto!important;
}

.view-photo-modal .modal-dialog .modal-content {
  min-width: auto;
  width: fit-content;
  margin: 0 auto;
}

.modal-footer {
  display: block;
  position: relative;
}

.photo-details-footer {
  display: inline-block;
}

.photo-details {
  width: fit-content;
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.photo-btns-container {
  width: 100%;
  display: block;
  padding-top: 1px;
}

.photo-btns-container button {
  margin: 5px auto;
  display: block;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.bg-card {
  background-color: #d0d0d0;
}

.modal-body {
  width: fit-content;
  margin: 0 auto;
}

.nav-link {
  font-size: 20px;
  margin-bottom: 5px;
}

.navbar {
  padding: .5rem;
}

.modal-content {
  min-width: max-content;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.float-center {
  margin: 0 auto;
  display: block;
}

.close-btn-container {
  width: 100%;
  display: inline-block;
}

.display-block {
  display: block;
}

.no-bullets {
  list-style-type: none;
  padding-left: unset;
}

.copyright-footer {
  width: fit-content;
  margin: 0 auto;
  opacity: 0.7;
  background: none!important;
}